/* 
Colores
Cabecera  rgb(73, 72, 72) 
Fondo rgba(0, 0, 0, 0.795)
Links whitesmoke
Texto beige
Fuente
'Nuosu SIL', serif
*/
@import "./font.scss";
@import "./componet/head.scss";
@import "./componet/footer.scss";
@import "./componet/index.scss";
@import "./componet/nosotros.scss";
@import "./componet/artistas.scss";

body {
    background-color: black;
}
.navbar-nav{
    margin-left: 50%;
    
}
a {
    text-decoration: none;
    color: beige;
}
