/* 
Colores
Cabecera  rgb(73, 72, 72) 
Fondo rgba(0, 0, 0, 0.795)
Links whitesmoke
Texto beige

Fuente
'Nuosu SIL', serif

*/


*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.795);
    font-family: 'Nuosu SIL', serif;
    font-size: 16px;
    color: beige;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    color: gray;
}

/* Header */
.cabecera {
    background-color: rgb(0, 0, 0);
    width: 100%;
    border: solid 1px black;
    position: sticky;
    top: 0;
}

.cabecera__menu {
    margin-top: 87px;

}

.cabecera__menu__lista {
    text-decoration: none;
    display: inline;
}

.cabecera__menu__lista__item{
    display: inline-block;
    padding: 10px;
    margin: 5px;    
}
.cabecera__menu__lista__derecha {
    margin-left: 50%;
   
}
.cabecera__menu__logo{
    width: 10%;
    height: 10%;
    display: inline;
    float: left;
}

/* Main */

.principal__h1{
    text-align: center;
    font-weight: lighter;
    margin-top: 50px;
    margin-bottom: 50px;
}

.principal__video{
    text-align: center;
    background-color: black;
    padding: 20px;
}
@media (max-width: 481px){
    .videoInicio1{
        height: 50%;
        width: 65%;
    }
}
@media (max-width: 992px){
    .videoInicio1{
        height: 50%;
        width: 65%;
    }
}

/* Footer */

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.footer__redes{
    display: flex;
    flex-direction: column;
}

.footer__whatsapp__imagen, .footer__redes__imagen {
    width: 30px;
    height: 30px;
}
.parrafo{
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: larger;
}
.titulo1{
    text-align: center;
    font-weight: lighter;
    margin-top: 50px;
    margin-bottom: 50px;
}
.titulo2{
    text-align: center;
    font-weight:normal;
    margin-top: 50px;
    margin-bottom: 50px;
    color:coral;
}
.titulo3{
    text-align: center;
    font-weight:normal;
    margin-top: 50px;
    margin-bottom: 50px;
    color:coral;
}
.video1__inicio{
    height: 50%;
    width: 65%;
}
.video1{
    background-color: black;
    text-align: center;
    padding: 20px;
}
.generalb, .generalm{
    background-color: black;
    padding: 20px;
    text-align: center;
}
.videob, .videom{
    height:60vh;
    width: 80vw;
}
.generalm{
    margin-top: 30px;
}
.lista{
    text-align: center;
}
.artistas{
    text-align: center;
    font-weight: lighter;
    padding-top: 2%;
}
.nombre{
    text-align: center;
    color:coral;
    font-weight: lighter;
    padding: 5% 0% 2% 0%;
}
.ojo{
    margin: 5% 5% 5% 5%;
    height: 20%;
    width: 30%;
}
.polilla{
    margin: 5% 5% 5% 5%;
    height: 10%;
    width: 15%;
}
.flor{
    height: 20%;
    width: 15%;
    margin: 5% 5% 5% 5%;
}
.marcos{
    background-color: black;
    text-align: center;
}
/*media y Grid*/
@media (max-width: 768px){
    .marcos{
        display: grid;
        grid-template-columns: 1fr, 1fr, 1fr;
    }
    .ojo{
        max-width: 100%;
        width: 300px;
        height: 250px;
    }
    .polilla{
        max-width: 100%;
        width: 300px;
        height: 250px;
    }
    .flor{
        max-width: 100%;
        width: 300px;
        height: 250px;
    }
    .barbara{
        display: grid;
        grid-template-columns: 1fr, 1fr, 1fr;        
    }
    .dc{
        width: 300px;
        height: 250px;
    }
    .fenix{
        width: 300px;
        height: 250px;
    }
    .japones{
        width: 300px;
        height: 250px;
    }
}
.barbara{
    background-color: black;
    text-align: center;
}
.japones, .fenix{
    height: 25%;
    width: 20%;
    margin: 5% 5% 5% 5%;
    
} 
.dc{
    height: 35%;
    width: 25%;
    margin: 5% 5% 5% 5%;
}

/*fin media grid*/
.mas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 5%;
}
.ver{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 5%;
}
.volver{
    display: flex;
    flex-direction: row;
    justify-content: center;
}    
.p{
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
 }
 .form{
     padding-top: 5%;
     padding-bottom: 5%;
 }
 .formulario{
     display: flex;
     flex-direction: row;
     justify-content: center;
     background-color: black;
}
 .formulario-imagen{
   margin: 5% 1% 5% 1%;
}
.encontranos{
    text-align: center;
    font-weight: lighter;
    padding-bottom: 2%;
    padding-top: 2%;
}
.mapa{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
}
.verenmaps{
    display: flex;
    flex-direction: row;
    justify-content: center;
}