/* 
Colores
Cabecera  rgb(73, 72, 72) 
Fondo rgba(0, 0, 0, 0.795)
Links whitesmoke
Texto beige

Fuente
'Nuosu SIL', serif

*/
body {
    background-color: black;
}
.navbar-nav{
    margin-left: 50%;
    
}
a {
    text-decoration: none;
    color: beige;
}
/*header*/
#pad{
    padding: 0%;
}
#wp{
    color: whitesmoke;
}
.cabecera{
    position: sticky;
    top: 0;
}
#items{
    color: whitesmoke;
    font-family: 'Nuosu SIL', serif;
    font-size: 16px;
}
#items:hover{
    color: gray;
    transform: scale(1.5);
    transition: all 1s;
}
.cabecera__menu__logo{
    width: 10%;
    height: 10%;
    display: inline;
    float: left;
}
#random{
    background-color: black;
}
/*Fin Header*/
.principal{
    background-color: black;
}
.principal__h1{
    font-family: 'Nuosu SIL', serif;
    font-size: 30px;
    color: beige;
    text-align: center;
    font-weight: lighter;
}
.principal__video{
    text-align: center;
    background-color: black;
    padding: 20px;
}
#ful{
    color: whitesmoke;
    font-family: 'Nuosu SIL', serif;
    font-size: 16px;
    
}
/*nosotros*/
.parrafo{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: larger;
    color: whitesmoke;
    
}
.video1__inicio{
    height: 50%;
    width: 65%;
}
.video1{
    background-color: black;
    text-align: center;
    padding: 20px;
}
.titulo1{
    text-align: center;
    font-weight: lighter;
    margin-top: 50px;
    margin-bottom: 50px;
    color: whitesmoke;
}
.titulo2{
    text-align: center;
    font-weight:normal;
    margin-top: 50px;
    margin-bottom: 50px;
    color:coral;
}
.titulo3{
    text-align: center;
    font-weight:normal;
    margin-top: 50px;
    margin-bottom: 50px;
    color:coral;
}
.generalb, .generalm{
    background-color: black;
    padding: 20px;
    text-align: center;
}
.videob, .videom{
    height:60vh;
    width: 80vw;
}
.generalm{
    margin-top: 30px;
}

.lista{
    list-style: none;
}