/*nosotros*/
.parrafo{
    margin-left: 30px;
    margin-right: 30px;
    font-size: larger;
    color: beige;
    font-family: general-fuente;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}
.video1__inicio{
    height: 50%;
    width: 65%;
}
.video1{
    background-color: black;
    text-align: center;
    padding: 20px;
}
.titulo1{
    text-align: center;
    font-weight: lighter;
    margin-top: 50px;
    margin-bottom: 50px;
    color: whitesmoke;
}
.titulo2, .titulo3, .nombre{
    text-align: center;
    font-weight:normal;
    margin-top: 50px;
    margin-bottom: 50px;
    color:coral;
    font-family: 'Nuosu SIL', serif;
}
.generalb, .generalm{
    background-color: black;
    padding: 20px;
    text-align: center;
}
.videob, .videom{
    height:60vh;
    width: 80vw;
}
.generalm{
    margin-top: 30px;
}
.lista{
    list-style: none;
}
/*fin nosotros*/